* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 1rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
}

nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #4b4453;
    text-align: center;
    text-decoration: none;

}

nav a[aria-current='page'] {
    color: #4ffbdf;
    font-size: 1rem;
    font-weight: bold;
    background-color: #4b4453;
}

main {
    padding: 1rem;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 2.5rem;
    margin-top: 5rem;
}
body{
    background-color: #797978;
}
.container {
    /* width: 575px;?
    height: 825px; */
    
    /* background-color: #797978; */
    /* padding-left: 30px; */
    display: flex;
}
.container> *{
    margin: 0 auto;
    max-width: 80%;
}
#height,
#weight {
    /* width: 150px;
    height: 25px; */
    /* margin-top: 30px; */
    width: 66%;
}
.heading{
    margin: 10px 41%;
    /* vertical-align: middle; */
    align-items: center;
}
form{
    max-width: 80%;
    width: 100%;
}


#results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}

button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}
button {
    width: 100%;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    /* width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;

    font-size: 25px; */
}
button::hover{
    opacity: 0.7%;
    /* background-color: black; */
    /* color: white; */
}